.head{
    height:70px;
    background:rgb(181, 123, 248);
}
.head1{
    height:510px;
    
}
.head2{
    height:77px;
    background:rgb(181, 123, 248);
}
.textsty{
    font-size: 35px;
    color: white;
}
.width{
    width:600px;
    color: rgb(58, 56, 56);
    font-size: 22px;
}
.textsty1{
    font-size:40px;
    color: rgb(19, 17, 17);
}
.textsty2{
    font-size:20px;
    color:white;
}
.color1{
    background: rgb(213, 181, 247);
}
.width1{
    width:300px;
    color: rgb(58, 56, 56);
    font-size: 22px;
}
.textsty3{
    font-size:20px;
    color: rgb(19, 17, 17);
}
.inputcolor{
    color: rgb(31, 30, 30);
}
