<!--Head -->
<div class="container-fuild head sticky-top"  >
  <div class="row head">
    <div class="col-3 makecenter textsty">DacBook</div>
    <div class="col-6 makecenter inputcolor">
      <input type="text" class="form-control    width" [(ngModel)]="pdata" placeholder="Write Something...">
    </div>
    <div class="col-3  makeleft">
      <input type="button" class="btn btn-light" (click)="post();" value="Post">
    </div>
  </div>
</div>
<!--Body -->
<div class="container-fuild head1 mt-2" *ngIf="postlist.length > 0">
<div class="row mb-2 " *ngFor="let i of postlist" >
<div class="col-3"></div>
<div class="col-7 animated pulse " >
  <!--post area -->
  <div class="card round" >
    <div class="card-body color1 textsty1 makecenter " style="height:80px">
     {{i.postdata}}
    </div>
    <!-- all buttons -->
    <div class="card-footer  pl-1 pr-2 makeleft" >
      <a href="#"><span class="badge bg-info ml-0   textsty2" (click)="like(i)"> <i>Like {{i.like}}</i></span></a>
      <a href="#"><span class="badge bg-info ml-1 textsty2" (click)="dislike(i)"> <i>Dislike {{i.dislike}}</i></span></a>
       <!-- if u want to edit post first eite on post input box then click on edit post -->
      <a href="#"><span class="badge bg-info ml-1 textsty2" (click)="editpost(i)"> <i>Edit</i></span></a>
      <a href="#"><span class="badge bg-info ml-1 textsty2" (click)="deletepost(i)"> <i>Delete</i></span></a>
      <input type="text" class="form-control width1 ml-1 " [(ngModel)]="cdata" placeholder="Comment Here...">
      <a href="#"><span class="badge ml-1 bg-info textsty2" (click)="postcomment(i)"> <i>Comment</i></span></a>

    </div>
   

  </div>
  <!-- comment area -->
  <div class="card round"  *ngIf="i.comment.length > 0">
    <div class="card-body  inputcolor textsty3"  *ngFor="let j of i.comment " >
     {{j}}
     <a href="#" style="float:right" (click)="deletecomment(i,j)">Delete</a>
     <a href="#" class="mr-3"style="float:right" (click)="editcomment(i,j)">Edit</a>
    </div>
</div>



</div>
<div class="col-2"></div>

</div>
</div>
<!--No post-->
<div class="container-fuild head1 mt-2" *ngIf="postlist.length == 0" >
  <div class="row mb-2" >
  <div class="col-3"></div>
  <div class="col-7 " >
    <div class="card round" style="min-height:100px">
      <div class="card-body color1 textsty3 makecenter">
      <b><h4> No Post Available..</h4></b>
     </div>
     </div>
 </div>
  <div class="col-2"></div>
  
  </div>
  <div class="row mb-2" >
      <div class="col-3"></div>
      <div class="col-6 makecenter " >
        
        <img src="assets/welcome.gif" alt="Welcome" >
         
     </div>
      <div class="col-3"></div>
      
      </div>
  </div>
<!--Footer -->
<div class="container-fuild head2 fixed-bottom textsty2">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 makecenter" >
   
       Developed by : Rohini Yashvant Kavathekar
    </div>
  </div>
 </div>
